{% extends 'mytemplates/header.html' %}
{% block title %}::Home::{% endblock title %}
{% block content %}
<div class="container">
  <div class="jumbotron mt-5">
  	<h2>Hi Welcome to Homepage</h2>
  </div>
  <div class="row">
  	<div class="col-md bg-primary ml-3 mr-3 mt-1 p-2">
  		First
  	</div>
  	<div class="col-md bg-danger ml-3 mr-3 mt-1 p-2">
  		second
  	</div>
  	<div class="col-md bg-success ml-3 mr-3 mt-1 p-2">
  		Third
  	</div>
  </div>
  <div class="row mt-2">
  	<div class="col-sm bg-primary ml-3 mr-3 mt-1 p-2">
  		First
  	</div>
  	<div class="col-md bg-danger ml-3 mr-3 mt-1 p-2">
  		second
  	</div>
  </div>
</div>
{% endblock content %}