{% load static %}
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">
    <img src="{% static 'images/brand.jpg' %}" alt="brand" style="width:40px;">
  </a>
  
  <!-- Links -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'hme' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'abt' %}">Aboutus</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'register' %}">Register</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'lg' %}">Login</a>
    </li>
  </ul>
</div>
</nav>